body {
    background-color: #62B4CF;
}

#splashContainer {
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #FF8300;
    border-radius: 20px;
    -moz-border-radius: 20px;
    text-align: center;
}

